{% extends "base_generic.html" %}

{% block content %}
  <h1>Book List</h1>
  <a href="{% url 'book_create' %}">Criar livro</a>
  {% if book_list %}
  <table>
    {% for book in book_list %}
      <tr>
        <th><a href="{{ book.get_absolute_url }}">{{ book.title }}</a> ({{book.author}})</th>
        <th><a href="book/{{book.id}}/update" class="btn btn-warning" id = '{{book.id}}'>edit</a></th>
        <th><a href="book/{{book.id}}/delete" class="btn btn-danger" id = '{{book.id}}'>delete</a></th>
      </tr>
    {% endfor %}
  </table>
  {% else %}
    <p>There are no books in the library.</p>
  {% endif %}       
{% endblock %}